<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- jQuery File-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap File-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sweetalert.css">
    <link rel="stylesheet" href="/css/chrono.css">

    <meta name="viewport" content="width=device-width, user-scalable=no">

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">DevChrono</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Charts</a></li>
            </ul>
        </div>
    </nav>
    <div id="category_template">
        <div class="container">
            <ul class="group-card">
                <li class="col-md-3">
                    <a class="card-panel" href="#">
                        <span>Users</span>
                    </a>
                </li>
                <li class="col-md-3">
                    <a class="card-panel" href="#">
                        <span>New category...</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
