body {
  font: 14px "sans-serif", Helvetica, Arial, sans-serif;
}
.navbar-inverse {
  border-radius: 0px;
}
a {
  color: #00B7FF;
}
#chrono_template {
  padding-top: 50px;
  margin: auto;
  text-align: center;
}
#button_group {
  margin-top: 25px;
}
form textarea.form-control {
  height: 150px;
  margin-bottom: 20px;
}
.right {
  float: right;
}
#circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 4px solid #777;
  cursor: pointer;
}
.circle-anim {
  animation: bubble-anim 1s ease-out 1;
}
#timer span#timer_seconds::before {
  content:':';
}
#timer span#timer_seconds {
  left: 50%;
}
#circle #timer {
  position: absolute;
  top: 35%;
  left: 15%;
}
#status p {
  position: absolute;
  bottom: 8%;
  left: 40%;
  padding: 5px;
}
#circle span {
  font-size: 5em;
  color: #777;
}
@keyframes bubble-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    transform: scale(1);
  }
}